---
import Layout from '../layouts/Layout.astro';
import ImageDropBox from '../components/ImageDropBox.astro';
---

<Layout title="Image Converter">
	<main>
		<div class="w-full flex items-center justify-center py-8">
			<h1 class="text-white text-5xl">
				<span class="text-indigo-600">Image</span>
				<span class="text-indigo-50">Converter</span>
			</h1>
		</div>
	</main>
	<section>
		<ImageDropBox/>
	</section>
</Layout>
